@import "elements.less";
@blurColor: white;
@colorGrey: #999;
@maxContentWidth: 640px;
@paddingMobile: 20px;
@paddingNormal: 50px;
@mobileWidth: 640px;
@headerHeightNormal: 104px;
@headerHeightMobile: 90px;

@border: 1px solid @colorGrey;


.box()
{
	background: none !important;
	background-color: white !important;
	box-shadow: none  !important;
	border: @border  !important;
}

.blur()
{
	.box-shadow(0px 0px 20px 4px @blurColor);
}

.textBlur()
{
	color: @blurColor;
	.text-shadow(0px 1px 10px @blurColor);
}

