@import "elements.less";
@blurColor: #fff;
@colorGrey: #999;
@maxContentWidth: 1024px;
@paddingMobile: 20px;
@paddingNormal: 50px;
@mobileWidth: 640px;
@headerHeightNormal: 104px;
@headerHeightMobile: 90px;

@border: 1px solid @colorGrey;


.box()
{
	background: none !important;
	background-color: white !important;
	box-shadow: none  !important;
	border: @border  !important;
}

.blur()
{
	.box-shadow(0px 0px 15px 1.8px @blurColor);
}

.textBlur(@color: @blurColor)
{
	
	.text-shadow(0px 0px 10px @color);
}


.halo
{
	box-shadow: 0px 0px 40px #666;
	
}
