@import "variables.less";

.woocommerce #content table.cart a.remove:hover, .woocommerce table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover
{
	background:none;
}


.woocommerce
{


	.category-name
	{
		
		padding: 40px 0px;
		text-align: center;
		
		font-size:17px;

		@media screen and (max-width: @mobileWidth) {
			font-size:14px;
		}
	}



	ul.chosen-results
	{
		li
		{
			color: black;
		}
	}

	input, textarea
	{
		padding: 4px;
	}
	form .form-row-last, .woocommerce-page form .form-row-last
	{
		float: none;
	}

	label
	{
		margin-bottom: 0px;
	}

	.woocommerce-message
	{
		.box();
		.blur() !important;
		
	}
	.woocommerce-info
	{
		.box();
		.blur() !important;

	}

	.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message
	{
		text-shadow: none;
	}

	.payment_box
	{
		.box();
		
	}

	.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before
	{
		padding-top: 0px;
	}


	

	.shop_table
	{

		border: @border !important;
		td{
			border-top: @border !important;
		}
		img
		{
			width: 120px !important;
		}
		a{
			border: none;
		}
	}

	#payment
	{
		color: black;
		
	}	

	.price
	{
		color: white !important;

	}



	.quantity{
		margin-top:2px !important;
		margin-right: 16px !important;
	}

	.button
	{
		padding-top:10px !important;
		font-size: 16px !important;
		.box();

		.rounded(8px) !important;

		background: white !important;
		border: @border;
		color: black !important;
		text-shadow: none !important;
		&:hover 
		{
			.blur() !important;
		}
	}

	ul.products
	{
		float: left;
		clear: none;
		width: 33.33333%;

		@media screen and (max-width: @mobileWidth) {

		}
		margin-top:40px;
		position: relative;
		
		box-sizing: border-box;



		li
		{
			width: 100%;
			
			padding:0px 10px;
			.transition(5s);
			opacity: 0;
			position: absolute;
			pointer-events:none;
			.details
			{
				display: none;
			}	
			margin-bottom: 24px;

			a
			{
				display: block;
				border-radius: 50%;
				

				.image-wrapper
				{

					position: relative;
					.gradient-overlay{
						position: absolute;
						top: 0px;
						left: 0px;
						bottom: 0px;
						right: 0px;
						background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.01) 15%, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(15%,rgba(0,0,0,0.01)), color-stop(85%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* IE10+ */
						background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,1) 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

					}


				}
			}





		}


		li.visible
		{
			
			opacity: 1;
			pointer-events:all;

			
		}
	}
}

