@import "variables.less";

.woocommerce #content table.cart a.remove:hover, .woocommerce table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover
{
	background:none;
}
.woocommerce
{

	form .form-row-last, .woocommerce-page form .form-row-last
	{
		float: none;
	}

	.woocommerce-message
	{
		.box();
		.blur() !important;
		
	}
	.woocommerce-info
	{
		.box();
		.blur() !important;
	
	}

	.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message
	{
		text-shadow: none;
	}

	.payment_box
	{
		.box();
		
	}

	.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before
	{
		padding-top: 0px;
	}


	

	.shop_table
	{

		border: @border !important;
		td{
			border-top: @border !important;
		}
		img
		{
			width: 120px !important;
		}
		a{
			border: none;
		}
	}

	#payment
	{
		color: black;
		
	}	

	.price
	{
		color: white !important;

	}



	.quantity{
		margin-top:2px !important;
		margin-right: 16px !important;
	}

	.button
	{
		padding-top:10px !important;
		font-size: 16px !important;
		.box();
	
		.rounded(8px) !important;

		background: white !important;
		border: @border;
		color: black !important;
		text-shadow: none !important;
		&:hover 
		{
			.blur() !important;
		}
	}

	ul.products
	{
		float: left;
		clear: none;
		width: 33.33333%;
		margin-top:40px;
		position: relative;
		
		box-sizing: border-box;




		li
		{
			
			padding:0px 10px;
			.transition(5s);
			opacity: 0;
			position: absolute;
			pointer-events:none;
			.details
			{
				display: none;
			}	
			margin-bottom: 24px;

			a
			{
				display: block;
				border-radius: 50%;
				
				img
				{
					
					
				}
			}





		}


		li.visible
		{
			
			opacity: 1;
			pointer-events:all;

			
		}
	}
}

body.inverted .price
{
	color: black !important;
}
